#wrapper {
  font-family: "Rock Salt", cursive;
}

header {
  text-align: center;
  font-size: 5rem;
  margin-top: 7rem;
}

#tac {
  color: black;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: 5rem 5rem 5rem;
  justify-content: center;
  gap: 3rem;
  align-content: center;
}

.square {
  background-color: black;
  border-radius: 3rem;
  cursor: pointer;
  text-align: center;
  line-height: 5rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

#outcome {
  margin-top: 1rem autoß;
  text-align: center;
  font-size: 3rem;
}

#outcome span {
  color: red;
}

#replay {
  text-align: center;
  margin: 1 auto;
}

#replay-button {
  font-size: 1.5rem;
  padding: 1.2rem;
  font-family: "Rock Salt", cursive;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5rem;
  cursor: pointer;
}

#replay-button:hover {
  border: 1px solid black;
}
#replay-button:active {
  color: red;
  background-color: black;
}
